:root {
  font-family: 'Manrope', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.gap-section {
  padding: 2rem 1rem;
}

.outside-link:hover {
  background-color: #363636;
}

.footer {
  margin-top: auto;
  padding: 1.5rem 1.5rem 1.5rem;
}